<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BELLING</title>
</head>
<body>
    <%- include ("header.ejs"); %>

    <center>
        <h1 style="font-size: 25px;margin-top:10px;margin-bottom:10px;">การแจ้งเตือน</h1>
        
        <div id="notifyBox">
            
        </div>
        
    </center>
    
</body>
<script src="js/notify.js"></script>
</html>